.boxvideo {
    max-width: 200px;
    /* overflow: hidden; */
    display: block;
    max-height: 300px;
    margin: auto;
    border: solid #a1a1a1;
    border-radius: 5px;
    margin-bottom: 5px;
}

#video {
    width: 100%;
}

#canvas {
    display: none;
}